<div id="about-container" class="about-container component-container" screenSizeClassNameManager>
  <app-component-heading headingText="About Us"></app-component-heading>

  <section class="about-section">
    <article class="about-text-container">
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque, dolorum ducimus expedita fuga id in
        incidunt ipsam iusto labore magni molestias necessitatibus numquam odit quia quisquam sint veniam voluptate? Amet
        beatae blanditiis harum id in ipsum itaque modi, obcaecati quisquam sequi? A ad adipisci debitis delectus dolorum
        ea esse eveniet expedita explicabo fugit in incidunt inventore, ipsa labore laborum mollitia natus nemo nihil
        nostrum omnis provident quae, quaerat quam qui quisquam quo quod quos ratione recusandae rerum sit veritatis vero
        voluptate! Culpa distinctio minima nostrum numquam, odit quia ut velit. Accusamus consequuntur cupiditate impedit
        nostrum optio quaerat vel.
      </p>
      <p class="about-text">
        Accusamus assumenda corporis delectus dolor dolorem enim est ex exercitationem
        expedita, id illo incidunt ipsam iste itaque molestias mollitia, neque nesciunt nisi obcaecati perspiciatis
        porro quasi repellendus sapiente ut velit! Aperiam, quibusdam, sapiente. Aliquam animi aut consequuntur deleniti
        ducimus eius facilis fuga in ipsum iure libero non optio possimus quam quidem, repudiandae, rerum sequi unde
        voluptate voluptatibus. Beatae commodi ea, excepturi illum maiores minima natus, neque obcaecati perspiciatis
        placeat quibusdam quod totam? Ad asperiores consequuntur dignissimos hic quibusdam sequi tempora veniam. Atque
        eaque illum laudantium neque quis recusandae rem tempore tenetur! Adipisci architecto debitis dolorum error
        facilis, fuga iste quae unde?
      </p>
    </article>
    <figure class="about-image-container">
      <img src="../../assets/img/building1.jpg" class="about-image" alt="about-image">
    </figure>
  </section>

  <section class="about-section">
    <article class="about-text-container">
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque, dolorum ducimus expedita fuga id in
        incidunt ipsam iusto labore magni molestias necessitatibus numquam odit quia quisquam sint veniam voluptate? Amet
        beatae blanditiis harum id in ipsum itaque modi, obcaecati quisquam sequi? A ad adipisci debitis delectus dolorum
        ea esse eveniet expedita explicabo fugit in incidunt inventore, ipsa labore laborum mollitia natus nemo nihil
        nostrum omnis provident quae, quaerat quam qui quisquam quo quod quos ratione recusandae rerum sit veritatis vero
        voluptate! Culpa distinctio minima nostrum numquam, odit quia ut velit. Accusamus consequuntur cupiditate impedit
        nostrum optio quaerat vel.
      </p>
      <p class="about-text">
        Accusamus assumenda corporis delectus dolor dolorem enim est ex exercitationem
        expedita, id illo incidunt ipsam iste itaque molestias mollitia, neque nesciunt nisi obcaecati perspiciatis
        porro quasi repellendus sapiente ut velit! Aperiam, quibusdam, sapiente. Aliquam animi aut consequuntur deleniti
        ducimus eius facilis fuga in ipsum iure libero non optio possimus quam quidem, repudiandae, rerum sequi unde
        voluptate voluptatibus. Beatae commodi ea, excepturi illum maiores minima natus, neque obcaecati perspiciatis
        placeat quibusdam quod totam? Ad asperiores consequuntur dignissimos hic quibusdam sequi tempora veniam. Atque
        eaque illum laudantium neque quis recusandae rem tempore tenetur! Adipisci architecto debitis dolorum error
        facilis, fuga iste quae unde?
      </p>
    </article>
    <figure class="about-image-container">
      <img src="../../assets/img/building1.jpg" class="about-image" alt="about-image">
    </figure>
  </section>


  <section class="about-section">
    <article class="about-text-container">
      <p class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque, dolorum ducimus expedita fuga id in
        incidunt ipsam iusto labore magni molestias necessitatibus numquam odit quia quisquam sint veniam voluptate? Amet
        beatae blanditiis harum id in ipsum itaque modi, obcaecati quisquam sequi? A ad adipisci debitis delectus dolorum
        ea esse eveniet expedita explicabo fugit in incidunt inventore, ipsa labore laborum mollitia natus nemo nihil
        nostrum omnis provident quae, quaerat quam qui quisquam quo quod quos ratione recusandae rerum sit veritatis vero
        voluptate! Culpa distinctio minima nostrum numquam, odit quia ut velit. Accusamus consequuntur cupiditate impedit
        nostrum optio quaerat vel.
      </p>
      <p class="about-text">
        Accusamus assumenda corporis delectus dolor dolorem enim est ex exercitationem
        expedita, id illo incidunt ipsam iste itaque molestias mollitia, neque nesciunt nisi obcaecati perspiciatis
        porro quasi repellendus sapiente ut velit! Aperiam, quibusdam, sapiente. Aliquam animi aut consequuntur deleniti
        ducimus eius facilis fuga in ipsum iure libero non optio possimus quam quidem, repudiandae, rerum sequi unde
        voluptate voluptatibus. Beatae commodi ea, excepturi illum maiores minima natus, neque obcaecati perspiciatis
        placeat quibusdam quod totam? Ad asperiores consequuntur dignissimos hic quibusdam sequi tempora veniam. Atque
        eaque illum laudantium neque quis recusandae rem tempore tenetur! Adipisci architecto debitis dolorum error
        facilis, fuga iste quae unde?
      </p>
    </article>
    <figure class="about-image-container">
      <img src="../../assets/img/building1.jpg" class="about-image" alt="about-image">
    </figure>
  </section>

</div>
