<div id="contact-container" class="component-container contact-container" screenSizeClassNameManager>
  <app-component-heading headingText="Contact Us"></app-component-heading>

  <section class="text-container">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquam assumenda at blanditiis cumque
      deserunt eaque eligendi eos esse eum exercitationem expedita incidunt mollitia natus nesciunt non numquam odio
      optio, placeat possimus quia quibusdam saepe sequi soluta tenetur, velit voluptas. Ab aliquid autem incidunt
      necessitatibus quod rerum temporibus! Possimus.
    </p>
  </section>

  <section class="contact-details-container">

      <div class="contact-list">
        <h2>How To Reach Us.</h2>
          <div class="contact">
            <figure class="contact-type-image-container phone"></figure>
            <p class="contact-detail">021-xxx-xxx</p>
          </div>
          <div class="contact">
            <figure class="contact-type-image-container phone"></figure>
            <p class="contact-detail">021-xxx-xxx</p>
          </div>
          <div class="contact">
            <figure class="contact-type-image-container email"></figure>
            <p class="contact-detail">mycompany.co.za</p>
          </div>
      </div>

      <div class="trading-hours-container">
        <h2>Office Hours</h2>
        <p>Monday - Friday 08:00 - 17:00</p>
        <p>Saturday 08:00 - 12:00</p>
        <p>Sunday's And Public Holidays Closed</p>
        <p>Open 24/7 On Our Emergency Numbers</p>
      </div>
  </section>

  <section class="location-container">
    <app-location></app-location>
  </section>
</div>
