#hero-container {
  overflow: hidden;

  .slide-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;

    figure {
      padding: 0;
      margin: 0;
      overflow: hidden;
    }

    #hero-image {
      height: 300px;
      width: 100vw;
      display: block;
      margin: auto;
      overflow: hidden;
    }

    .hero-image-large {
      height: 60vh !important;
    }

    .hero-image-medium {
      height: 60vh !important;
    }

    .hero-image-small {
      height: 400px;
    }

  }
}

