<div id="services-container" class="component-container services-container" screenSizeClassNameManager>
  <app-component-heading headingText="Our Services"></app-component-heading>

  <section class="service-item">
    <figure class="service-image-container">
      <img src="../../assets/img/ocean1.jpg" class="service-image" alt="service-image">
    </figure>
    <article class="service-description-container">
      <h4 class="service-heading">
        Some service heading text
      </h4>
      <p class="service-description">
        Some service description text, consectetur adipisicing elit. Accusamus asperiores consequatur ea eius facere minus
        optio perspiciatis praesentium, quae quod, reiciendis sapiente sequi voluptas?
      </p>
      <p class="service-description">
        Some service description text,
        error et eum ex exercitationem, expedita maxime minus obcaecati odit pariatur qui quis similique ullam.
        Doloribus earum in magni nostrum, ratione sapiente similique?
      </p>
    </article>
  </section>

  <section class="service-item">
    <figure class="service-image-container">
      <img src="../../assets/img/ocean1.jpg" class="service-image" alt="service-image">
    </figure>
    <article class="service-description-container">
      <h4 class="service-heading">
        Some service heading text
      </h4>
      <p class="service-description">
        Some service description text, consectetur adipisicing elit. Accusamus asperiores consequatur ea eius facere minus
        optio perspiciatis praesentium, quae quod, reiciendis sapiente sequi voluptas?
      </p>
      <p class="service-description">
        Some service description text,
        error et eum ex exercitationem, expedita maxime minus obcaecati odit pariatur qui quis similique ullam.
        Doloribus earum in magni nostrum, ratione sapiente similique?
      </p>
    </article>
  </section>

  <section class="service-item">
    <figure class="service-image-container">
      <img src="../../assets/img/ocean1.jpg" class="service-image" alt="service-image">
    </figure>
    <article class="service-description-container">
      <h4 class="service-heading">
        Some service heading text
      </h4>
      <p class="service-description">
        Some service description text, consectetur adipisicing elit. Accusamus asperiores consequatur ea eius facere minus
        optio perspiciatis praesentium, quae quod, reiciendis sapiente sequi voluptas?
      </p>
      <p class="service-description">
        Some service description text,
        error et eum ex exercitationem, expedita maxime minus obcaecati odit pariatur qui quis similique ullam.
        Doloribus earum in magni nostrum, ratione sapiente similique?
      </p>
    </article>
  </section>

</div>

